// container use for display size:- 1430 pixel 
.lg-container{
    width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
}

// container use for display size:- 1200 pixel 
.md-container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    
}


// container use for display size:- ***** pixel 
// container use for display size:- ***** pixel 