// container use for display size:- 1430 pixel 
.container-lg{
    width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
}

// container use for display size:- 1200 pixel 
.container-md{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}


// container use for display size:- ***** pixel 
// container use for display size:- ***** pixel 